share/OpenMS/SCHEMAS/TraML0.9.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Eric Deutsch (Institute for Systems Biology) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://psi.hupo.org/ms/traml" targetNamespace="http://psi.hupo.org/ms/traml" version="0.2">
	<xs:element name="compound">
		<xs:annotation>
			<xs:documentation>Chemical compound other than a peptide for which one or more transitions </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cvParam" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="retentionTime" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation>Identifier for the compound to be used for referencing within a document</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="compoundList">
		<xs:annotation>
			<xs:documentation>List of compounds (including peptides) for which one or more transitions are intended to identify</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cvParam" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="peptide" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="compound" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="configuration">
		<xs:annotation>
			<xs:documentation>Instrument configuration used in the validation or optimization of the transitions</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cvParam" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="validation" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="contactRef" type="xs:IDREF" use="optional">
				<xs:annotation>
					<xs:documentation>Reference to a contact person originating this information</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="instrumentRef" type="xs:IDREF" use="required">
				<xs:annotation>
					<xs:documentation>Reference to an instrument for which this configuration information is appropriate</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="configurationList">
		<xs:annotation>
			<xs:documentation>List of insutrument configurations used in the validation or optimization of the transitions</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="configuration"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="contact">
		<xs:annotation>
			<xs:documentation>Contact person referenced in the generation or validation of transitions</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cvParam" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation>Identifier for the contact to be used for referencing within a document</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="contactList">
		<xs:annotation>
			<xs:documentation>List of contacts referenced in the generation or validation of transitions</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="contact" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cv">
		<xs:annotation>
			<xs:documentation>Controlled vocabulary used in a TraML document</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="version" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Version of controlled vocabulary in use when the document was created</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="URI" type="xs:anyURI" use="required">
				<xs:annotation>
					<xs:documentation>Uniform Resource Identifier for the controlled vocabulary</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="fullName" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Full name of the controlled vocabulary</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="id" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation>Identifier for the controlled vocabulary to be used for referencing within a document</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="cvList">
		<xs:annotation>
			<xs:documentation>List of controlled vocabularies used in a TraML document</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cv" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cvParam">
		<xs:annotation>
			<xs:documentation>Controlled vocabulary term adding information to the parent term</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="cvRef" type="xs:IDREF" use="required">
				<xs:annotation>
					<xs:documentation>Reference to a controlled vocabulary for which this cvParam is </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Name of the controlled vocabulary term referenced</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="accession" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Accession number of the controlled vocabulary term referenced</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="value" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Scalar value qualifying the controlled vocabulary term referenced</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="unitAccession" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>An optional CV accession number for the unit term associated with the value, if any (e.g., 'UO:0000266' for 'electron volt').</xs:documentation>

				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="unitName" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>An optional CV name for the unit accession number, if any (e.g., 'electron volt' for 'UO:0000266' ).</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="unitCvRef" type="xs:IDREF" use="optional">
				<xs:annotation>
					<xs:documentation>If a unit term is referenced, this attribute must refer to the CV 'id' attribute defined in the cvList in this mzML file.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="evidence">
		<xs:annotation>
			<xs:documentation>Information about empirical mass spectrometer observations of the peptide</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cvParam" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="instrument">
		<xs:annotation>
			<xs:documentation>Instrument on which transitions are validated</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cvParam"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation>Identifier for the instrument to be used for referencing within a document</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="instrumentList">
		<xs:annotation>
			<xs:documentation>List of instruments on which transitions are validated</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="instrument" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="interpretation">
		<xs:annotation>
			<xs:documentation>A possible interpration of the product ion for a transition</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cvParam" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="primary" type="xs:boolean" use="optional">
				<xs:annotation>
					<xs:documentation>True if this interpretation is considered the most likely of all possible listed interpretation of the product ion</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="interpretationList">
		<xs:annotation>
			<xs:documentation>List of possible interprations of fragment ions for a transition</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="interpretation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="peptide">
		<xs:annotation>
			<xs:documentation>Peptide for which one or more transitions are intended to identify</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cvParam" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="retentionTime" minOccurs="0"/>
				<xs:element ref="evidence" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation>Identifier for the peptide to be used for referencing within a document</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="proteinRef" type="xs:IDREF" use="optional">
				<xs:annotation>
					<xs:documentation>Reference to a protein which this peptide is intended to identify</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="precursor">
		<xs:annotation>
			<xs:documentation>Precursor (Q1) of the transition</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cvParam" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="product">
		<xs:annotation>
			<xs:documentation>Product (Q3) of the transition</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cvParam" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="prediction">
		<xs:annotation>
			<xs:documentation>Information about a prediction for a suitable transition using some software</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cvParam" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="softwareRef" type="xs:IDREF" use="required">
				<xs:annotation>
					<xs:documentation>Reference to a software package from which this prediction is derived</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="contactRef" type="xs:IDREF" use="optional">
				<xs:annotation>
					<xs:documentation>Reference to a contact person that generated this prediction</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="protein">
		<xs:annotation>
			<xs:documentation>Protein for which one or more transitions are intended to identify</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cvParam" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="sequence" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation>Identifier for the protein to be used for referencing within a document</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="proteinList">
		<xs:annotation>
			<xs:documentation>List of proteins for which one or more transitions are intended to identify</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="protein" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="publication">
		<xs:annotation>
			<xs:documentation>Reference to a publication in which one or more transitions were published</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cvParam"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation>Identifier for the publication to be used for referencing within a document</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="publicationList">
		<xs:annotation>
			<xs:documentation>List of publications from which the transitions were collected or wherein they are published</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="publication" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="retentionTime">
		<xs:annotation>
			<xs:documentation>Information about predicted or calibrated retention time</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cvParam" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="predictedRetentionTimeSoftwareRef" type="xs:IDREF" use="optional">
				<xs:annotation>
					<xs:documentation>Software used to predict a retention time</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="sequence">
		<xs:annotation>
			<xs:documentation>Amino acid sequence of the protein</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="software">
		<xs:annotation>
			<xs:documentation>Description of a software package used in the generation of one or more transitions described in the document</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cvParam"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation>Identifier for the software to be used for referencing within a document</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="version" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Version of the software program described</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="softwareList">
		<xs:annotation>
			<xs:documentation>List of software packages used in the generation of one of more transitions described in the document</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="software" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sourceFile">
		<xs:annotation>
			<xs:documentation>Description of the source file, including location and type.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cvParam" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation>Identifier for the sourceFile to be used for referencing within a document.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Name of the source file, without reference to location (either URI or local path).</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="location" type="xs:anyURI" use="required">
				<xs:annotation>
					<xs:documentation>URI-formatted location where the file was retrieved.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="sourceFileList">
		<xs:annotation>
			<xs:documentation>List and descriptions of the source files this TraML document was generated or derived from</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sourceFile" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TraML">
		<xs:annotation>
			<xs:documentation>Container for the HUPO PSI TraML format for encoding selected reaction monitoring transitions</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cvList"/>
				<xs:element ref="sourceFileList" minOccurs="0"/>
				<xs:element ref="contactList" minOccurs="0"/>
				<xs:element ref="publicationList" minOccurs="0"/>
				<xs:element ref="instrumentList" minOccurs="0"/>
				<xs:element ref="softwareList" minOccurs="0"/>
				<xs:element ref="proteinList" minOccurs="0"/>
				<xs:element ref="compoundList" minOccurs="0"/>
				<xs:element ref="transitionList" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Version of the TraML format used by this document</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="transition">
		<xs:annotation>
			<xs:documentation>Information about a single transition for a peptide or other compound</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="precursor"/>
				<xs:element ref="product"/>
				<xs:element ref="interpretationList" minOccurs="0"/>
				<xs:element ref="prediction" minOccurs="0"/>
				<xs:element ref="configurationList" minOccurs="0"/>
				<xs:element ref="cvParam" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="peptideRef" type="xs:IDREF" use="optional">
				<xs:annotation>
					<xs:documentation>Reference to a peptide which this transition is intended to identify</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="compoundRef" type="xs:IDREF" use="optional">
				<xs:annotation>
					<xs:documentation>Reference to a compound for this transition</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="id" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>String label for this transition</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="transitionList">
		<xs:annotation>
			<xs:documentation>List of transitions</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="transition" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="validation">
		<xs:annotation>
			<xs:documentation>Information about the state of validation of a transition on a given instrument model</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cvParam" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
