share/OpenMS/SCHEMAS/TraML0.9.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Eric Deutsch (Institute for Systems Biology) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://psi.hupo.org/ms/traml" targetNamespace="http://psi.hupo.org/ms/traml" version="0.9.2">
	<xs:element name="Compound">
		<xs:annotation>
			<xs:documentation>Chemical compound other than a peptide for which one or more transitions </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CvParam" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="RetentionTimeList" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation>Identifier for the compound to be used for referencing within a document</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="CompoundList">
		<xs:annotation>
			<xs:documentation>List of compounds (including peptides) for which one or more transitions are intended to identify</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CvParam" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Peptide" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Compound" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Configuration">
		<xs:annotation>
			<xs:documentation>Instrument configuration used in the validation or optimization of the transitions</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CvParam" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Validation" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="contactRef" type="xs:IDREF" use="optional">
				<xs:annotation>
					<xs:documentation>Reference to a contact person originating this information</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="instrumentRef" type="xs:IDREF" use="required">
				<xs:annotation>
					<xs:documentation>Reference to an instrument for which this configuration information is appropriate</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConfigurationList">
		<xs:annotation>
			<xs:documentation>List of insutrument configurations used in the validation or optimization of the transitions</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Configuration"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Contact">
		<xs:annotation>
			<xs:documentation>Contact person referenced in the generation or validation of transitions</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CvParam" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation>Identifier for the contact to be used for referencing within a document</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContactList">
		<xs:annotation>
			<xs:documentation>List of contacts referenced in the generation or validation of transitions</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Contact" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Cv">
		<xs:annotation>
			<xs:documentation>Controlled vocabulary used in a TraML document</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="version" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Version of controlled vocabulary in use when the document was created</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="URI" type="xs:anyURI" use="required">
				<xs:annotation>
					<xs:documentation>Uniform Resource Identifier for the controlled vocabulary</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="fullName" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Full name of the controlled vocabulary</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="id" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation>Identifier for the controlled vocabulary to be used for referencing within a document</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="CvList">
		<xs:annotation>
			<xs:documentation>List of controlled vocabularies used in a TraML document</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Cv" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CvParam">
		<xs:annotation>
			<xs:documentation>Controlled vocabulary term adding information to the parent term</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="cvRef" type="xs:IDREF" use="required">
				<xs:annotation>
					<xs:documentation>Reference to a controlled vocabulary for which this cvParam is </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Name of the controlled vocabulary term referenced</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="accession" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Accession number of the controlled vocabulary term referenced</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="value" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Scalar value qualifying the controlled vocabulary term referenced</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="unitAccession" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>An optional CV accession number for the unit term associated with the value, if any (e.g., 'UO:0000266' for 'electron volt').</xs:documentation>

				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="unitName" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>An optional CV name for the unit accession number, if any (e.g., 'electron volt' for 'UO:0000266' ).</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="unitCvRef" type="xs:IDREF" use="optional">
				<xs:annotation>
					<xs:documentation>If a unit term is referenced, this attribute must refer to the CV 'id' attribute defined in the cvList in this mzML file.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Evidence">
		<xs:annotation>
			<xs:documentation>Information about empirical mass spectrometer observations of the peptide</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CvParam" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Instrument">
		<xs:annotation>
			<xs:documentation>Instrument on which transitions are validated</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CvParam"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation>Identifier for the instrument to be used for referencing within a document</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="InstrumentList">
		<xs:annotation>
			<xs:documentation>List of instruments on which transitions are validated</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Instrument" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Interpretation">
		<xs:annotation>
			<xs:documentation>A possible interpration of the product ion for a transition</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CvParam" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="primary" type="xs:boolean" use="optional">
				<xs:annotation>
					<xs:documentation>True if this interpretation is considered the most likely of all possible listed interpretation of the product ion</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="InterpretationList">
		<xs:annotation>
			<xs:documentation>List of possible interprations of fragment ions for a transition</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Interpretation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Modification">
		<xs:annotation>
			<xs:documentation>A molecule modification specification. If n modifications are present on the peptide, there should be n instances of the modification element. If multiple modifications are provided as cvParams, it is assumed the modification is ambiguous, i.e. one modification or the other. If no cvParams are provided it is assumed that the delta has not been matched to a known modification.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CvParam" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="location" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>Location of the modification within the peptide sequence, counted from the N-terminus, starting at position 1. Specific modifications to the N-terminus should be given the location 0. Modification to the C-terminus should be given as peptide length + 1.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="monoisotopicMassDelta" type="xs:double" use="optional">
				<xs:annotation>
					<xs:documentation>Atomic mass delta when assuming only the most common isotope of elements in Daltons.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="averageMassDelta" type="xs:double" use="optional">
				<xs:annotation>
					<xs:documentation>Atomic mass delta when considering the natural distribution of isotopes in Daltons.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Peptide">
		<xs:annotation>
			<xs:documentation>Peptide for which one or more transitions are intended to identify</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CvParam" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ProteinRef" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Modification" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="RetentionTimeList" minOccurs="0"/>
				<xs:element ref="Evidence" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation>Identifier for the peptide to be used for referencing within a document</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="sequence" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Amino acid sequence of the peptide being described</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Precursor">
		<xs:annotation>
			<xs:documentation>Precursor (Q1) of the transition</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CvParam" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Product">
		<xs:annotation>
			<xs:documentation>Product (Q3) of the transition</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CvParam" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Prediction">
		<xs:annotation>
			<xs:documentation>Information about a prediction for a suitable transition using some software</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CvParam" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="softwareRef" type="xs:IDREF" use="required">
				<xs:annotation>
					<xs:documentation>Reference to a software package from which this prediction is derived</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="contactRef" type="xs:IDREF" use="optional">
				<xs:annotation>
					<xs:documentation>Reference to a contact person that generated this prediction</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Protein">
		<xs:annotation>
			<xs:documentation>Protein for which one or more transitions are intended to identify</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CvParam" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Sequence" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation>Identifier for the protein to be used for referencing within a document</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProteinList">
		<xs:annotation>
			<xs:documentation>List of proteins for which one or more transitions are intended to identify</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Protein" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProteinRef">
		<xs:annotation>
			<xs:documentation>Reference to a protein which this peptide is intended to identify</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="ref" type="xs:IDREF" use="optional">
				<xs:annotation>
					<xs:documentation>Reference to a protein which this peptide is intended to identify</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Publication">
		<xs:annotation>
			<xs:documentation>Reference to a publication in which one or more transitions were published</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CvParam"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation>Identifier for the publication to be used for referencing within a document</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PublicationList">
		<xs:annotation>
			<xs:documentation>List of publications from which the transitions were collected or wherein they are published</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Publication" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RetentionTime">
		<xs:annotation>
			<xs:documentation>Information about predicted or calibrated retention time</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CvParam" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="softwareRef" type="xs:IDREF" use="optional">
				<xs:annotation>
					<xs:documentation>Software used to determine the retention time</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="RetentionTimeList">
		<xs:annotation>
			<xs:documentation>List of retention time information entries</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RetentionTime" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Sequence">
		<xs:annotation>
			<xs:documentation>Amino acid sequence of the protein</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Software">
		<xs:annotation>
			<xs:documentation>Description of a software package used in the generation of one or more transitions described in the document</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CvParam"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation>Identifier for the software to be used for referencing within a document</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="version" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Version of the software program described</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SoftwareList">
		<xs:annotation>
			<xs:documentation>List of software packages used in the generation of one of more transitions described in the document</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Software" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SourceFile">
		<xs:annotation>
			<xs:documentation>Description of the source file, including location and type.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CvParam" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation>Identifier for the sourceFile to be used for referencing within a document.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Name of the source file, without reference to location (either URI or local path).</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="location" type="xs:anyURI" use="required">
				<xs:annotation>
					<xs:documentation>URI-formatted location where the file was retrieved.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SourceFileList">
		<xs:annotation>
			<xs:documentation>List and descriptions of the source files this TraML document was generated or derived from</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SourceFile" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Target">
		<xs:annotation>
			<xs:documentation>A peptide or compound that is to be included or excluded from a target list of precursor m/z values.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Precursor"/>
				<xs:element ref="ConfigurationList" minOccurs="0"/>
				<xs:element ref="CvParam" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>String label for this target</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="peptideRef" type="xs:IDREF" use="optional">
				<xs:annotation>
					<xs:documentation>Reference to a peptide for which this target is the trigger</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="compoundRef" type="xs:IDREF" use="optional">
				<xs:annotation>
					<xs:documentation>Reference to a compound for which this target is the trigger</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="TargetExcludeList">
		<xs:annotation>
			<xs:documentation>List of precursor m/z targets to exclude</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Target" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TargetIncludeList">
		<xs:annotation>
			<xs:documentation>List of precursor m/z targets to include</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Target" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TargetList">
		<xs:annotation>
			<xs:documentation>List of precursor m/z targets to include or exclude</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CvParam" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="TargetIncludeList" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TargetExcludeList" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TraML">
		<xs:annotation>
			<xs:documentation>Container for the HUPO PSI TraML format for encoding selected reaction monitoring transitions and other target lists</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CvList"/>
				<xs:element ref="SourceFileList" minOccurs="0"/>
				<xs:element ref="ContactList" minOccurs="0"/>
				<xs:element ref="PublicationList" minOccurs="0"/>
				<xs:element ref="InstrumentList" minOccurs="0"/>
				<xs:element ref="SoftwareList" minOccurs="0"/>
				<xs:element ref="ProteinList" minOccurs="0"/>
				<xs:element ref="CompoundList" minOccurs="0"/>
				<xs:element ref="TransitionList" minOccurs="0"/>
				<xs:element ref="TargetList" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Version of the TraML format used by this document</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Transition">
		<xs:annotation>
			<xs:documentation>Information about a single transition for a peptide or other compound</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Precursor"/>
				<xs:element ref="Product"/>
				<xs:element ref="InterpretationList" minOccurs="0"/>
				<xs:element ref="Prediction" minOccurs="0"/>
				<xs:element ref="ConfigurationList" minOccurs="0"/>
				<xs:element ref="CvParam" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="peptideRef" type="xs:IDREF" use="optional">
				<xs:annotation>
					<xs:documentation>Reference to a peptide which this transition is intended to identify</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="compoundRef" type="xs:IDREF" use="optional">
				<xs:annotation>
					<xs:documentation>Reference to a compound for this transition</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="id" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>String label for this transition</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="TransitionList">
		<xs:annotation>
			<xs:documentation>List of transitions</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Transition" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Validation">
		<xs:annotation>
			<xs:documentation>Information about the state of validation of a transition on a given instrument model</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CvParam" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
